body{
  background-image: radial-gradient(circle ,rgba(230, 228, 225, 0.32),rgba(221, 164, 78, 0.32));
}

.App{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
i{
  
  border-radius: 25px;
  cursor: pointer;
  margin-top: 25px;
  box-shadow: 0px 5px 5px 0px rgba(221, 164, 78, 0.32);
  font-size: 55px;
  
}
.inactiv{
  cursor: default;
}
h1{
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 1px;

}
.fa-redo-alt{
  
  font-size: 20px;
  margin-left: 80%;
  
}
.Time{
  display: flex;
  justify-content: center;
  margin-top: 11%;
  
}

.Time span{
  width: auto;
  color: rgb(150, 148, 148);
}